In [4]:
!pip install snscrape

Collecting snscrape
  Downloading snscrape-0.7.0.20230622-py3-none-any.whl (74 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 74.8/74.8 kB 4.3 MB/s eta 0:00:00
Requirement already satisfied: requests[socks] in /usr/local/lib/python3.10/dist-packages (from snscrape) (2.27.1)
Requirement already satisfied: lxml in /usr/local/lib/python3.10/dist-packages (from snscrape) (4.9.2)
Requirement already satisfied: beautifulsoup4 in /usr/local/lib/python3.10/dist-packages (from snscrape) (4.11.2)
Requirement already satisfied: filelock in /usr/local/lib/python3.10/dist-packages (from snscrape) (3.12.2)
Requirement already satisfied: soupsieve>1.2 in /usr/local/lib/python3.10/dist-packages (from beautifulsoup4->snscrape) (2.4.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->snscrape) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->snscrape) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->snscrape) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->snscrape) (3.4)
Requirement already satisfied: PySocks!=1.5.7,>=1.5.6 in /usr/local/lib/python3.10/dist-packages (from requests[socks]->snscrape) (1.7.1)
Installing collected packages: snscrape
Successfully installed snscrape-0.7.0.20230622

In [9]:
import pandas as pd
from tqdm.notebook import tqdm
import snscrape.modules.twitter as sntwitter

import nltk
import re
import string
from nltk.tokenize import word_tokenize
from nltk.tokenize import wordpunct_tokenize
from nltk.corpus import stopwords
from collections import Counter
nltk.download('punkt')
nltk.download('stopwords')
nltk.download('vader_lexicon')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package vader_lexicon to /root/nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [6]:
scraper = sntwitter.TwitterUserScraper('Richard_Mille')

tweets = []

for i, tweet in enumerate(scraper.get_items()):
  data = [tweet.id, tweet.date, tweet.content, tweet.likeCount, tweet.retweetCount]
  tweets.append(data)
  if i == 29:
    break

df = pd.DataFrame(tweets, columns=['id', 'created_at', 'content', 'like_count', 'retweet_count'])

<ipython-input-6-9bf78e576833>:6: DeprecatedFeatureWarning: content is deprecated, use rawContent instead
  data = [tweet.id, tweet.date, tweet.content, tweet.likeCount, tweet.retweetCount]

In [10]:
def text_clean(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub(r'http\S+', '', text, flags = re.MULTILINE)
    return text

cleaned = lambda x: text_clean(x)

cleaned_text = lambda x: text_clean(x)

In [12]:
df['cleaned_content'] = pd.DataFrame(df['content'].apply(cleaned))
df.head()

,id,created_at,content,like_count,retweet_count,cleaned_content
0,1674071369309384707,2023-06-28 15:04:51+00:00,The first-ever edition of the Richard Mille Cu...,33,4,the firstever edition of the richard mille cup...
1,1673349294533771265,2023-06-26 15:15:35+00:00,Anatomy of the RM 72-01 Red Gold. \n\n#Richard...,180,33,anatomy of the rm 7201 red gold \n\nrichardmille
2,1672266426164432896,2023-06-23 15:32:39+00:00,"Rare are the objects which, like racing cars, ...",53,5,rare are the objects which like racing cars ex...
3,1671897519180382208,2023-06-22 15:06:45+00:00,"Limited to 150 pieces, the new RM 72-01 Le Man...",401,52,limited to 150 pieces the new rm 7201 le mans ...
4,1671535871965777920,2023-06-21 15:09:42+00:00,"Live your passion. Be daring, throw yourself i...",367,56,live your passion be daring throw yourself int...

In [13]:
df.to_csv('RichardMille_snscrape.csv', index = False)