# Authentication

In [21]:
import tweepy
from tweepy import OAuthHandler
import pandas as pd
import re
import string
from collections import Counter

consumer_key = "Ja0rkGIQ7q0eiuDOTG1Ioiifz"
consumer_secret = "0MpwoLJEXaGno5WUpJELxRtvX1BnYhQlnwGIN20KGxgCwmNO1G"
access_token = "1643196206661914627-chgan8lehEqN8PdQXKGMUzCJyknqpj"
access_token_secret = "WDEm5dmsK0EYyFhWICiOjvUK6XTrHUDjgR2ASNeusCdLZ"

auth = OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tweepy.API(auth, wait_on_rate_limit=True)

In [22]:
sname="ROLEX"

In [23]:
tmp = api.user_timeline(screen_name=sname, count=30)
tweets = [[t.id, t.created_at, t.text]for t in tmp]

In [24]:
tweets_df = pd.DataFrame(tweets,
                  columns=['id',
                          'created_at',
                          'text'])

In [25]:
tweets_df

,id,created_at,text
0,1673692751055994880,2023-06-27 14:00:22+00:00,"A watch’s autonomy is not just a promise, it i..."
1,1673632297231237120,2023-06-27 10:00:08+00:00,This year marks the 10th anniversary of the #R...
2,1673300165921316870,2023-06-26 12:00:22+00:00,"As a @MissionBlue Hope Spot Champion, Sandra B..."
3,1672877299396407296,2023-06-25 08:00:03+00:00,"At this week’s Lindau Nobel Laureate Meeting, ..."
4,1671843083539959811,2023-06-22 11:30:27+00:00,The waters around Malpelo Island in the Pacifi...
5,1671155969236299778,2023-06-20 14:00:06+00:00,"'Werther', Massenet's great opera of passion, ..."
6,1670808740713431042,2023-06-19 15:00:20+00:00,"Whatever the conditions, the #Submariner’s Cer..."
7,1670612659127873538,2023-06-19 02:01:11+00:00,We thank the @usopengolf for bringing us anoth...
8,1669797104322002945,2023-06-16 20:00:27+00:00,Season 4 of @SailGP starts today in Chicago wi...
9,1669706485440413696,2023-06-16 14:00:22+00:00,The Paraflex bends to disperse energy before r...
10,1669325179711901701,2023-06-15 12:45:12+00:00,The @usopengolf starts today at the Los Angele...
11,1668922742035435520,2023-06-14 10:06:03+00:00,"A year ago, with our partner @InsideNatGeo, we..."
12,1667954603944493056,2023-06-11 17:59:01+00:00,The chequered flag has been waved. Rolex thank...
13,1667588978751553543,2023-06-10 17:46:09+00:00,Iga is crowned the champion of clay. Congratul...
14,1667578082214187008,2023-06-10 17:02:51+00:00,This exclusive #CosmographDaytona sports a Cer...
15,1667554716056956929,2023-06-10 15:30:00+00:00,Celebrating 100 years of speed. Rolex presents...
16,1667517052456783872,2023-06-10 13:00:20+00:00,The @24hoursoflemans starting today is a supre...
17,1667275389981405187,2023-06-09 21:00:04+00:00,A large international fleet will contest the #...
18,1666852595388891136,2023-06-08 17:00:02+00:00,The @Vienna_Phil’s Summer Night Concert is a h...
19,1665530168192950273,2023-06-05 01:25:10+00:00,Congratulations Rose Zhang on victory at the @...
20,1664995442189271040,2023-06-03 14:00:22+00:00,"A high-performance steel of grade 904L, Oyster..."
21,1664300850351685633,2023-06-01 16:00:18+00:00,"During development, we subject our watches to ..."
22,1663923384093224963,2023-05-31 15:00:23+00:00,The week-long #RolexArtsFestival that conclude...
23,1663138165891256320,2023-05-29 11:00:13+00:00,"Today, on the 70th anniversary of the first as..."
24,1662857532463882240,2023-05-28 16:25:04+00:00,Rolex thanks @F1 for a brilliant FORMULA 1 GRA...
25,1662730478636396544,2023-05-28 08:00:12+00:00,"Today marks the start of @rolandgarros, the 2n..."
26,1662700445305806848,2023-05-28 06:00:52+00:00,Tune in on https://t.co/gFsLcaTrnj from 10am (...
27,1662481369597984768,2023-05-27 15:30:20+00:00,The #RolexDeepsea with a D-blue dial honours J...
28,1662353029717262338,2023-05-27 07:00:21+00:00,"Starting at 10am (CEST) today, the live stream..."
29,1662126484306243584,2023-05-26 16:00:09+00:00,"The Whitsun Festival, of which we are Exclusiv..."

In [26]:
def text_clean(text):
    text = text.lower()
    text = re.sub('\[.*?\]', '', text)
    text = re.sub('[%s]' % re.escape(string.punctuation), '', text)
    text = re.sub(r'http\S+', '', text, flags = re.MULTILINE)
    text = re.sub('\w*\d\w*', '', text)
    #text = ' '.join([word for word in text.split() if word not in stopwords_dict])

    return text

cleaned = lambda x: text_clean(x)

In [27]:
tweets_df['cleaned'] = pd.DataFrame(tweets_df.text.apply(cleaned))

In [28]:
tweets_df

,id,created_at,text,cleaned
0,1673692751055994880,2023-06-27 14:00:22+00:00,"A watch’s autonomy is not just a promise, it i...",a watch’s autonomy is not just a promise it is...
1,1673632297231237120,2023-06-27 10:00:08+00:00,This year marks the 10th anniversary of the #R...,this year marks the anniversary of the rolexg...
2,1673300165921316870,2023-06-26 12:00:22+00:00,"As a @MissionBlue Hope Spot Champion, Sandra B...",as a missionblue hope spot champion sandra bes...
3,1672877299396407296,2023-06-25 08:00:03+00:00,"At this week’s Lindau Nobel Laureate Meeting, ...",at this week’s lindau nobel laureate meeting r...
4,1671843083539959811,2023-06-22 11:30:27+00:00,The waters around Malpelo Island in the Pacifi...,the waters around malpelo island in the pacifi...
5,1671155969236299778,2023-06-20 14:00:06+00:00,"'Werther', Massenet's great opera of passion, ...",werther massenets great opera of passion premi...
6,1670808740713431042,2023-06-19 15:00:20+00:00,"Whatever the conditions, the #Submariner’s Cer...",whatever the conditions the submariner’s cerac...
7,1670612659127873538,2023-06-19 02:01:11+00:00,We thank the @usopengolf for bringing us anoth...,we thank the usopengolf for bringing us anothe...
8,1669797104322002945,2023-06-16 20:00:27+00:00,Season 4 of @SailGP starts today in Chicago wi...,season of sailgp starts today in chicago with...
9,1669706485440413696,2023-06-16 14:00:22+00:00,The Paraflex bends to disperse energy before r...,the paraflex bends to disperse energy before r...
10,1669325179711901701,2023-06-15 12:45:12+00:00,The @usopengolf starts today at the Los Angele...,the usopengolf starts today at the los angeles...
11,1668922742035435520,2023-06-14 10:06:03+00:00,"A year ago, with our partner @InsideNatGeo, we...",a year ago with our partner insidenatgeo we la...
12,1667954603944493056,2023-06-11 17:59:01+00:00,The chequered flag has been waved. Rolex thank...,the chequered flag has been waved rolex thanks...
13,1667588978751553543,2023-06-10 17:46:09+00:00,Iga is crowned the champion of clay. Congratul...,iga is crowned the champion of clay congratula...
14,1667578082214187008,2023-06-10 17:02:51+00:00,This exclusive #CosmographDaytona sports a Cer...,this exclusive cosmographdaytona sports a cera...
15,1667554716056956929,2023-06-10 15:30:00+00:00,Celebrating 100 years of speed. Rolex presents...,celebrating years of speed rolex presents a v...
16,1667517052456783872,2023-06-10 13:00:20+00:00,The @24hoursoflemans starting today is a supre...,the starting today is a supreme test of drive...
17,1667275389981405187,2023-06-09 21:00:04+00:00,A large international fleet will contest the #...,a large international fleet will contest the r...
18,1666852595388891136,2023-06-08 17:00:02+00:00,The @Vienna_Phil’s Summer Night Concert is a h...,the viennaphil’s summer night concert is a hig...
19,1665530168192950273,2023-06-05 01:25:10+00:00,Congratulations Rose Zhang on victory at the @...,congratulations rose zhang on victory at the m...
20,1664995442189271040,2023-06-03 14:00:22+00:00,"A high-performance steel of grade 904L, Oyster...",a highperformance steel of grade oystersteel ...
21,1664300850351685633,2023-06-01 16:00:18+00:00,"During development, we subject our watches to ...",during development we subject our watches to e...
22,1663923384093224963,2023-05-31 15:00:23+00:00,The week-long #RolexArtsFestival that conclude...,the weeklong rolexartsfestival that concluded ...
23,1663138165891256320,2023-05-29 11:00:13+00:00,"Today, on the 70th anniversary of the first as...",today on the anniversary of the first ascent ...
24,1662857532463882240,2023-05-28 16:25:04+00:00,Rolex thanks @F1 for a brilliant FORMULA 1 GRA...,rolex thanks for a brilliant formula grand p...
25,1662730478636396544,2023-05-28 08:00:12+00:00,"Today marks the start of @rolandgarros, the 2n...",today marks the start of rolandgarros the gra...
26,1662700445305806848,2023-05-28 06:00:52+00:00,Tune in on https://t.co/gFsLcaTrnj from 10am (...,tune in on from cest to watch the last live ...
27,1662481369597984768,2023-05-27 15:30:20+00:00,The #RolexDeepsea with a D-blue dial honours J...,the rolexdeepsea with a dblue dial honours jam...
28,1662353029717262338,2023-05-27 07:00:21+00:00,"Starting at 10am (CEST) today, the live stream...",starting at cest today the live stream of the...
29,1662126484306243584,2023-05-26 16:00:09+00:00,"The Whitsun Festival, of which we are Exclusiv...",the whitsun festival of which we are exclusive...

In [29]:
tweets_df.to_csv('Rolex_Tweepy.csv', index = False)